<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <!-- Product element creates .msi file. -->
    <Product Id="*"
             UpgradeCode="12345678-1234-1234-1234-111111111111"
             Name="meaApplication"
             Version="0.0.1"
             Manufacturer="zrks"
             Language="1033">

        <!-- Package properties can be seen through Explorer. -->
        <Package InstallerVersion="200"
                 Comments="Windows Installer Package"/>

        <!-- Adding this element to solve 'Unresolved reference to symbol 'Media:1'' -->
        <Media Id="1"/>

        <!-- Directory layout for the product. Maps source and target directories. -->
        <Directory Id="TARGETDIR" Name="SourceDir">

            <Directory Id="ProgramFilesFolder">
                <!-- We will reference Directory Id later in this file. -->
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="meaTaskApplication"/>
            </Directory>

            <!-- Directory layout for Desktop Shortcut. -->
            <Directory Id="DesktopFolder" Name="Desktop">
		    	<Component Id="DesktopShortcut" Guid="12345678-1237-1237-1237-222222222222">
		    	<Condition>INSTALLDESKTOPSHORTCUT</Condition>
                <!--                <RegistryKey Root="HKCU"
                             Key="meaAppKey"
                             Action="createAndRemoveOnUninstall">
                             <RegistryValue Name="meaAppRegistryKey"
                                            Value="1"
                                            Type="integer"
                                            KeyPath="yes"/>
                </RegistryKey>
                -->
                <Shortcut Id="DesktopShortcut"
                          Directory="DesktopFolder"
                          Name="meaApp"
                          WorkingDirectory="APPLICATIONROOTDIRECTORY"
                          Target="[APPLICATIONROOTDIRECTORY]meaTaskIcon.exe"/>
		    	</Component>
            </Directory>

        </Directory>

		<!-- Directory layout for Installation files. -->
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="meaApp.exe" Guid="12345678-1235-1235-1235-222222222222">
                <File Id="meaApp.exe"
                      Source="./build/launch4j/meaTask.exe"
                      KeyPath="yes"
                      Checksum="yes"/>
            </Component>

            <Component Id="Readme.txt" Guid="12345678-1236-1236-1236-333333333333">
                <File Id="Readme.txt"
                      Source="./Readme.txt"
                      KeyPath="yes"/>
            </Component>
        </DirectoryRef>


        <!-- Directive to install referenced files. -->
        <Feature Id="meaApp"
                 Title="meaApplication"
                 Level="1">
            <ComponentRef Id="meaApp.exe"/>
            <ComponentRef Id="Readme.txt"/>
			<!-- Icon referenced in Shortcut attribute. -->
			<ComponentRef Id="DesktopShortcut"/>
        </Feature>


        <!-- Installer dialog setup. -->
        <Property Id="WIXUI_INSTALLDIR" Value="ProgramFilesFolder"/>
        <UIRef Id="WixUI_InstallDir"/>

        <!-- Place shortcut on desktop. -->
        <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />

        <Icon Id="DesktopShortcut" SourceFile="meaTaskIcon.exe"/>

    </Product>
</Wix>
